img{

    height: 200px;
    width: 200px;
    border-radius: 300px;
}
hr{ 
height: 70px;
width: 800px;
   background-color: rgb(0, 74, 143); 
}
 body{ 
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(2, 0, 92);

 }

